/** global styling **/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:focus, select:focus, button:focus {
  outline: none;
}

h3 {
  color: #212529;
  font-family: arial;
  font-size: 24px;
  font-weight: 500;
  line-height: 18px;
}

p {
  color: #323232;
  font-family: 'Arial';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.65em;
  padding-bottom: 0;
  padding-top: 20px;
}

p>a {
  color: #3A90EF;
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  background-color: #fff;
  overflow-x: hidden;
  position: relative;
}

/** body styling **/
.anime-view-container {
  display: flex;
  justify-content: space-between;
  margin: 100px 180px;
  max-width: 100%;
  gap: 50px;
}

.anime-vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  word-break: break-all;
}

.anime-vertical-header {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #2F3032;
}

.anime-vertical-content {
  font-family: 'Roboto';
  font-weight: 200;
  font-size: 12px;
  line-height: 16px;
  color: #2F3032;
}

.anime-information-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  gap: 50px;
}

.anime-information-title {
  font-family: 'Roboto';
  font-size: 19px;
  line-height: 22px;
  color: #2F3032;
  font-weight: 700;
}

.anime-information-synopsis {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 14px;
  font-style: normal;
  line-height: 21px;
  color: #2F3032;
}

.anime-trailer-cotainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.header {
  gap: 30px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #EAEAEA;
  display: flex;
  flex-direction: column;
  font-family: 'Arial';
  height: 10%;
  left: 0;
  padding: 50px 100px 20px 100px;
  text-transform: uppercase;
  top: 0;
  width: 100%;
}

.header-top {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.home-label {
  font-family: 'Arial';
  margin: 0;
  padding: 0;
}

.home-label__content {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.header-bot {
  gap: 80px;
  align-items: center;
  display: flex;
  margin: auto;
  width: 800px;
}

.dropdown {
  background-color: #FFFFFF;
  font-family: 'Arial', sans-serif;
  font-weight: 500;
  width: 200px;
}

.dropdown-label {
  font-size: 14px;
  font-weight: 600;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group {
  background-color: #FFFFFF;
  border-color: lightgrey;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.1px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  color: #323232;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  padding: 5px;
  width: 180px;
}

.rank-box {
  background-color: #374BA0;
  box-sizing: border-box;
  color: white;
  font-size: 25px;
  font-weight: 700;
  height: 100px;
  padding: 20px;
  text-align: center;
  width: 100px;
}

.sort-control {
  font-family: 'Roboto';
  font-size:
  color: grey;
}

.sort-control:hover, .dropbtn:focus {
  color: darkgrey;
  cursor: pointer;
}

.sort-dropdown {
  display: inline-block;
  position: relative;
}

.sort-dropdown-content>select {
  style: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.sort-dropdown-content {
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 160px;
  overflow: auto;
  position: absolute;
  z-index: 1;
}

.sort-dropdown-content a {
  color: black;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}

.sort-dropdown a:hover {
  background-color: #ddd;
}

.show-display {
  display: block;
}

.hide-display {
  display: none;
  width: 500px;
}

.nav {
  gap: 100px;
  align-items: center;
  display: flex;
}

.nav__item {
  color: #000;
  font-size: 13px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  letter-spacing: 0.05em;
}

.nav-item-title {
  font-family: 'Arial';
  font-weight: 700;
  margin-left: 30px;
}

.top-container {
  display: flex;
  margin: auto;
  width: 100%;
}

.content {
  margin: auto;
  max-width: 1050px;
}

.form-container {
  display: flex;
}

.form-control {
  border-color: lightgrey;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.1px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  color: #323232;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 30px;
  padding: 20px;
  width: 300px;
}

.form-button {
  background-color: #0BA8FB;
  border-color: lightgrey;
  border-radius: 5px;
  border-style: solid;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: auto;
  margin-left: 10px;
  text-align: center;
  width: 100px;
}

.form-button:hover {
  background-color: lightblue;
  cursor: pointer;
}

.normal-button {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  height: auto;
  line-height: 4px;
  color: #000000;
  font-family: sans-serif;
  width: auto;
  font-size: 34px;
  font-weight: 100;
  padding: 26px;
  background-color: #FFFFFF;
  border: solid #919CA9 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.normal-button:hover {
  border: solid #000000 1px;
  background: #EEEFF1;
  background-image: -webkit-linear-gradient(top, #EEEFF1, #EEEFF1);
  background-image: -moz-linear-gradient(top, #EEEFF1, #EEEFF1);
  background-image: -ms-linear-gradient(top, #EEEFF1, #EEEFF1);
  background-image: -o-linear-gradient(top, #EEEFF1, #EEEFF1);
  background-image: -webkit-gradient(to bottom, #EEEFF1, #EEEFF1);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.card-img-container:hover, .form-control:hover, .form-control:focus {
  box-shadow: 8px 10px 10px -3px rgba(0, 0, 0, 0.43);
  top: -2px;
}

.card-container {
  gap: 20px;
  align-items: stretch;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: 1200px;
}

#trending-container {
  gap: 20px;
  align-items: stretch;
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  padding-bottom: 80px;
  width: 265px;
}

.card-title {
  color: #475859;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 265px;
}

.search-container {
  gap: 10px;
  display: flex;
  flex: 5;
  flex-wrap: wrap;
  width: 1500px;
}

.cards-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 100px 0 20px 0;
  text-transform: uppercase;
  width: 1000px;
}

.info-box {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  border-radius: 8px;
  box-shadow: 12px 5px 21px 12px rgba(0, 0, 0, 0.22);
  font-size: 20px;
  height: auto;
  left: 20;
  margin-top: 20px;
  padding: 50px 25px 50px 0px;
  position: fixed;
  text-align: center;
  top: 20;
  width: 300px;
  z-index: 2;
}

.info-box-content {
  padding-left: 25px;
  /* background-color: yellow; */
  text-align: left;
}

.card-type {
  background-color: lightblue;
  border-radius: 5px;
  font-family: 'Lato';
  padding: 5px;
}

.card-img-container {
  border-radius: 3px;
  border-radius: 15px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  height: 265px;
  position: relative;
  width: 185px;
}

/* The actual card-img-container */
.card-img-container .card-info {
  background-color: #555;
  border-radius: 6px;
  bottom: 105%;
  color: #fff;
  left: 50%;
  margin-left: -80px;
  padding: 8px 0;
  position: absolute;
  text-align: center;
  visibility: hidden;
  width: 160px;
  z-index: 1;
}

.card-img-container .card-info::after {
  border-color: #555 transparent transparent transparent;
  border-style: solid;
  border-width: 5px;
  content: "";
  left: 50%;
  margin-left: -5px;
  position: absolute;
  top: 100%;
}

.card-img-container .show {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  visibility: visible;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.wrapper {
  gap: 0px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
