@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap");

/** global styling **/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:focus, select:focus, button:focus {
  outline: none;
}

h3 {
  color: #212529;
  font-family: arial;
  font-size: 24px;
  font-weight: 500;
  line-height: 18px;
}

p {
  color: #323232;
  font-family: 'Arial';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.65em;
  padding-bottom: 0;
  padding-top: 20px;
}

p>a {
  color: #3A90EF;
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  background-color: #dfdfdf;
  overflow-x: hidden;
  position: relative;
}

* {
  font-family: "Saira Semi Condensed", sans-serif;
  transition: all 0.5s ease;
}

/* header style */

header {
  gap: 30px;
  background-color: #dfdfdf;;
  border-bottom: 1px solid #EAEAEA;
  display: flex;
  flex-direction: column;
  font-family: 'Arial';
  height: 10%;
  left: 0;
  padding: 50px 100px 20px 100px;
  text-transform: uppercase;
  top: 0;
  width: 100%;
}

.header-top {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.home-label {
  font-family: 'Arial';
  margin: 0;
  padding: 0;
}

.home-label__content {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.nav {
  gap: 100px;
  align-items: center;
  display: flex;
}

.nav__item {
  color: #000;
  font-size: 13px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  letter-spacing: 0.05em;
}

.nav-item-title {
  font-family: 'Arial';
  font-weight: 700;
  margin-left: 30px;
}

.logout {
  border: 1px solid #EAEAEA;
  padding: 9px;
}

.logout:hover {
  background-color: #EAEAEA;
  border: none;
}

/* login style */
.container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: center;
  padding: 0 16px;
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 400px;
}
form div,
form label,
form input,
form textarea {
  width: 100%;
}

.field:nth-of-type(2) {
  margin: 16px 0;
}

label,
input,
textarea {
  padding: 8px;
}

label,
[placeholder] {
  color: #555;
}

label i {
  margin: 0 10px 0 0;
}

.field:focus-within label {
  color: #000;
  letter-spacing: 2px;
}

input,
textarea {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px #555;
}
input:focus,
textarea:focus {
  background: white;
  box-shadow: none;
}

textarea {
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 0;
}

button {
  background: #2f4ad0;
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px #555;
  color: #fff;
  cursor: pointer;
  margin: 5px 0 5px 0;
  padding: 8px 16px;
}
button:hover {
  box-shadow: none;
  letter-spacing: 2px;
}


@media (max-width: 425px) {
  form {
    width: 100%;
  }
}

/* table styles */

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.table-container a:hover {
  color: grey;
}

.add-item-container {
  width: 750px;
  display: flex;
  margin: 40px 0px 0 0;
  justify-content: flex-end;
}

.add-button {
  appearance: button;
  border: 1px grey solid;
  background-color: #eee;
  border-radius: 5%;
  padding: 3px;
}

table {
	width: 750px;
	border-collapse: collapse;
	margin: 10px auto 50px auto;
}

tr:nth-of-type(odd) {
	background: #eee;
	}

th {
	background: #0BA8FB;
	color: white;
	font-weight: bold;
	}

td, th {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: left;
	font-size: 18px;
	}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table {
	  	width: 100%;
	}

	table, thead, tbody, th, td, tr {
		display: block;
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}
}

/* view anime styles */

.anime-wrapper {
  display: flex;
  flex-direction: column;
}

.anime-view-container {
  display: flex;
  justify-content: space-between;
  margin: 100px 180px;
  max-width: 100%;
  gap: 50px;
}

.anime-vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  word-break: break-all;
}

.anime-vertical-header {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #2F3032;
}

.anime-vertical-content {
  font-family: 'Roboto';
  font-weight: 200;
  font-size: 12px;
  line-height: 16px;
  color: #2F3032;
}

.anime-information-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  gap: 50px;
}

.anime-information-title {
  font-family: 'Roboto';
  font-size: 19px;
  line-height: 22px;
  color: #2F3032;
  font-weight: 700;
}

.anime-information-synopsis {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 14px;
  font-style: normal;
  line-height: 21px;
  color: #2F3032;
}

.anime-trailer-cotainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

/* forms style */

.scrollbox {
  height:200px;
  overflow-x:scroll;
}

/* flash message styles */
.flash {
  padding: 10px;
  margin: 10px;
  color: white;
  border-radius: 4px;
  text-align: center;
  font-size: 0.875em;
}

.success {
  background-color: #94b968;
  border: solid 2px #64A816;
}

.fail {
  background-color: #cc615d;
  border: solid 2px #C9322C;
}
